/* basic stylings ------------------------------------------ */
body
.container 		{
  font-family: 'Patrick Hand SC', cursive;
  width:800px;
/*  margin:30px auto 0; */
  display:block;
  background:#FFF;
  padding:10px 50px 50px;


}
h2{
  text-align:center;
  margin-bottom:50px;
}
h2 small {
  font-weight:normal;
  color:#888;
  display:block;
}

.game-title{
	text-align: center;
  color:#00CCD6;
  font-size:60px;
  margin-bottom: 40px;
}


/* form starting stylings ------------------------------- */
.group 			  {
  position:relative;
  margin-bottom:45px;
}
.form-input 				{
  font-size:45px;
  padding:40px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
}
.form-input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999;
  font-size:40px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.6s ease all;
  -moz-transition:0.6s ease all;
  -webkit-transition:0.6s ease all;
}

/* active state */
.form-input:focus ~ label, .form-input:valid ~ label 		{
  top:-20px;
  font-size:30px;
  color:#00CCD6;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background: #00CCD6;
  transition:0.5s ease all;
  -moz-transition:0.5s ease all;
  -webkit-transition:0.5s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
.form-input:focus ~ .bar:before, .form-input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.form-input:focus ~ .highlight {
  -webkit-animation:.form-inputHighlighter 0.6s ease;
  -moz-animation:.form-inputHighlighter 0.6s ease;
  animation:.form-inputHighlighter 0.6s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes .form-inputHighlighter {
	from { background:#00CCD6; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes .form-inputHighlighter {
	from { background:#00CCD6; }
  to 	{ width:0; background:transparent; }
}
@keyframes .form-inputHighlighter {
	from { background:#00CCD6; }
  to 	{ width:0; background:transparent; }
}
